<!-- <div class="container">
    <app-component-one (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-component-one>
    <hr>
    <div class="row ">
        <div class="col-xs-12 ">
            <app-component-two *ngFor="let serverElement of serverElements " [element]="serverElement ">
                <p>
                    <strong *ngIf="serverElement?.type === 'server'" style="color: red">{{ serverElement?.content }}</strong>
                    <em *ngIf="serverElement?.type === 'blueprint'">{{ serverElement?.content }}</em>
                </p>
            </app-component-two>
        </div>
    </div>
</div> -->

<div class="container">
    <button (click)="onlyOdd=!onlyOdd">only odd numbers</button>
    <hr>
    <ul>
        <!-- <div>
            <div *ngIf="onlyOdd">
                <li class="list-group-item" [ngClass]="{odd:oddNumber%2 !==0}" [ngStyle]="{backgroundColor: oddNumber%2 !==0 ?'yellow' : 'blue'}" *ngFor="let oddNumber of oddNumbers">{{oddNumber}}</li>
            </div>
            <div *ngIf="!onlyOdd">
                <li class="list-group-item" *ngFor="let evenNumber of evenNumbers">{{evenNumber}}</li>
            </div>

        </div> -->

        <div>
            <div *appUnless="onlyOdd">
                <li class="list-group-item" [ngClass]="{odd:oddNumber%2 !==0}" [ngStyle]="{backgroundColor: oddNumber%2 !==0 ?'yellow' : 'blue'}" *ngFor="let oddNumber of oddNumbers">{{oddNumber}}</li>
            </div>
            <div *ngIf="!onlyOdd">
                <li class="list-group-item" *ngFor="let evenNumber of evenNumbers">{{evenNumber}}</li>
            </div>

        </div>
    </ul>
    <p appBasicHighlight>Style me with basic directive</p>
    <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with basic directive</p>

</div>